<footer>
    <div class="container">
        <div class="row p20" style="font-size: 85%; color: gray; overflow: hidden; overflow-y: hidden; height: 35px;">
            <div class="col-md-4 text-center mt25"> 
                <a href="http://www.wisc.edu" style="text-decoration : none; color: gray;overflow: hidden; overflow-y: hidden;"> <img src="/images/UWlogos/UWcrest.png" alt="" height="27"> University of Wisconsin-Madison </a>   
            </div>

             <div class="col-md-4 text-center mt25" style="overflow: hidden; overflow-y: hidden;">

                <a href="http://www.wisc.edu"> <img src="/images/UWlogos/UWcrest.png" alt="" height="30" width="0"> </a>Department of Pathobiological Sciences 
            </div> 

            <div class="col-md-4 text-center mt25" style="overflow: hidden; overflow-y: hidden;">
                <a href="http://www.wisc.edu"> <img src="/images/UWlogos/UWcrest.png" alt="" height="30" width="0"> </a>© M Zamanian 2017
            </div>

        </div> 
    </div>
</footer>
