<footer>
    <div class="container">
        <div class="row p20" style="font-size: 85%">
            <div class="col-md-4 text-center mt25"> 
                <a href="http://www.wisc.edu" style="text-decoration : none; color: black;"> <img src="/images/UWcrest.png" alt="" height="30"> University of Wisconsin-Madison </a>   
            </div>

            <div class="col-md-4 text-center mt25" >
                <a href="http://www.wisc.edu"> <img src="/images/UWcrest.png" alt="" height="30" width="0"> </a>Department of Pathobiological Sciences
            </div>

            <div class="col-md-4 text-center mt25">
                <a href="http://www.wisc.edu"> <img src="/images/UWcrest.png" alt="" height="30" width="0"> </a>© M Zamanian 2017
            </div>

        </div> 
    </div>
</footer>
