<!-- Intro Header -->
<style>
#crest {
    position: absolute;
    top:80%;
    right:75%;
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

</style>

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div style = "height: 225px; width: 400px; background-color: rgba(0,0,0,0.45);border-style: solid; border-width: 2px; border-color: white;overflow:hidden; overflow-y:scroll; padding-top: 20px; color:white; line-height: 2; margin: 0 auto; position: relative; margin-top: 100px; margin-bottom: 0px">
                        <h2 style="font-size: 1em; color:white; line-height:0; padding-bottom: 0; margin-bottom: 0;">Lab News <hr style ="border: 0; border-bottom: 1px solid #fff; line-height: 1; margin:0px; margin-top: 15px; margin-bottom: 10px; "> </h2>
                        <ul style = "font-size: 1em; text-align: left; margin: 0; padding-left: 5%;">

                          <code style = "color: white;">Mar 2017</code> Lab receives NIH/NIAID K22 Phase II Award.</br>

                         <!--  <code style = "color: white;">Mar 2017</code> <a href="http://biorxiv.org/content/early/2017/03/15/116970" style = "color: white;"><em><u>bioRxiv</u></em></a> preprint now available.</br> -->

                          <code style = "color: white;">Feb 2017</code> Divyaa joins lab as a joint Research Intern.</br>

                          <code style = "color: white;">Feb 2017</code> Eric joins as an Undergraduate Researcher.</br>

                          <code style = "color: white;">Feb 2017</code> Troy joins lab as a Research Specialist.</br>

                          <code style = "color: white;">Jan 2017</code> The lab officially opens!
                        </ul>
                </div>
                <br>
                <img src="/img/uw-crest.svg" alt="" height="90" style="opacity:1"> <br>
                <br>
                <h2 style = "font-size: 0.8em; color:white; line-height:1;"> Department of Pathobiological Sciences </h2>
                <a href="#research" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"> </i></a>  <br><br>
                <h2 style = "font-size: 1.2em; color:white; line-height:1;"> Click or scroll to learn more </h2>
            </div>

        </div>
    </div>

  <!-- <div id="crest">
        <img src="/img/uw-crest.svg" alt="" height="70">
  </div> -->
</header>