<!-- Intro Header -->
<style>
#crest {
    position: absolute;
    top:80%;
    right:75%;
}
</style>

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
               <!-- <div class="col-md-8 col-md-offset-2" style="color: white; background-color: rgba(255,255,255,0.7);"> -->
                        <p class="intro-text" style="font-size: 2.5em; color:white; line-height: 2.5;
text-shadow: red 1px 1px 1px;"><b>Open January 2017</b> <br>
                        <a href="#research" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"> </i></a> 
                        </p>
                        <p style="font-size: 18px; line-height: 1; color:white; line-height: 2.5;
text-shadow: red 1px 1px 1px;"> (Read about our work) </p>
                <!-- </div> -->
            </div>
            
        </div>
    </div>

    <div id="crest">
        <img src="/img/uw-crest.svg" alt="" height="75">
    </div>
</header>