<!-- People Section -->
<section id="people" class="container content-section text-center">
    <div class="row">
        <h2>People</h2>   
        <!-- PI -->
        <div class="col-lg-8 col-lg-offset-2" style = "left:150px;">
            <div style="width:25%;float:left;text-align:left">
                <img src="/img/People/Placeholder.png" alt="" width="100">
            </div>
            <div style="width:70%;float:right;text-align:left;">
                <p><b>Mostafa Zamanian</b></br>
                Role: Principal Investigator </br>
                <a href="/CV/Zamanian.CV.pdf">Curriculum Vitae</a> </br>
                <a href="mailto:mzamanian@wisc.edu"> <i class="fa fa-envelope" aria-hidden="true"></i></a> / <a href="https://github.com/mzamanian"> <i class="fa fa-github fa-lg" aria-hidden="true"></i> </a> / <a href="https://www.twitter.com/parazamanian"> <i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
    </div>
    <!-- Person 2
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2" style = "left:150px;">
            <div style="width:25%;float:left;text-align:left;">
                <p>PHOTO HERE</p>
            </div>
            <div style="width:70%;float:right;text-align:left;">
                <p><b>J Doe</b></br>
                Role: Research Specialist </br>
                B.S., University Attended</br>
                <a href="mailto:j.doe@wisc.edu"><i class="fa fa-envelope" aria-hidden="true"></i></a> 
                </p>
            </div>
        </div>
    </div>  -->
</section>
<hr>



