<ul class="card-text font-weight-light list-group list-group-flush">
    {% for content in entry.contents %}
      <li class="list-group-item">
        <div class="row">
          {% if content.year %}
            <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
              <table class="table-cv">
                <tbody>
                  <!-- MZ add profile photos -->
                  <tr>
                    {%- if content.portrait -%}
                    <td>
                      <img class="img" src="../assets/img/people/{{ content.portrait }}" width="75px" alt="">
                    </td>
                    {% endif %}
                  </tr>
                  <!-- MZ end-->
                  <tr>
                    <td>
                      <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px;">{{ content.year }}</span>
                    </td>
                  </tr>
                  {% if content.location %}
                  <tr>
                    <td>
                      <p class="location"><i class="fas fa-map-marker-alt iconlocation"></i> {{ content.location }}</p>
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
              
            </div>
          {% endif %}

          <div class="col-xs-10 cl-sm-10 col-md-10 mt-10 mt-md-10">
            {% if content.title %}
            <h6 class="title font-weight-bold ml-1 ml-md-4">{{content.title}}</h6>
            {% endif %}
            {% if content.department or content.institution %}
            <table class="table-cv ml-1 ml-md-4 institution">
            <tbody>
              {% if content.institution %}
              <tr>
                <td style="vertical-align: top; text-align: center;" class="institution"><i class="fas fa-university iconinstitution"></i></td>
                <td class="institution">{{content.institution}}</td>
              </tr>
              {% endif %}
              {% if content.department %}
              <tr>
                <td style="vertical-align: top; text-align: center;" class="department"><i class="far fa-dot-circle icondepartment"></i></td>
                <td class="department">{{content.department}}</td>
              </tr>
              {% endif %}
            
              <!-- MZ added icons for email, google scholar, github, orcid -->
              <tr>
                <td >
                  {%- if content.email -%}
                  <a href="mailto:{{ content.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
                  {% endif %}
                </td>
                <td>
                  {%- if content.gscholar -%}
                  <a href="https://scholar.google.com/citations?user={{ content.gscholar }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
                  {% endif %}
                  {%- if content.orcid -%}
                  <a href="https://orcid.org/{{ content.orcid }}" title="ORCID"><i class="ai ai-orcid"></i></a>
                  {% endif %}
                  {%- if content.github -%}
                  <a href="https://github.com/{{ content.github }}" title="GitHub"><i class="fab fa-github"></i></a>
                  {% endif %}
                  {% if content.cv_url %}
                  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ content.cv_url }}" target="_blank" title="CV">cv <i class="fas fa-file-pdf"></i></a>
                  {% endif %}
                </td>
              </tr>
            <!-- MZ end -->
            </tbody>
          </table>
            
            {% endif %}
            {% if content.maindescription %}
              <div class="ml-1 ml-md-4 ">{{ content.maindescription }}</div>
            {% endif %}
            {% if content.description %}
              <ul class="items">
                {% for item in content.description %}
                  <li>
                    {% if item.contents %}
                      <span class="item-title">{{ item.title }}</span>
                      <ul class="subitems">
                      {% for subitem in item.contents %}
                        <li><span class="subitem">{{ subitem }}</span></li>
                      {% endfor %}
                      </ul>
                    {% else %}
                      <span class="item">{{ item }}</span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if content.items %}
              <ul class="items">
                {% for item in content.items %}
                  <li>
                    {% if item.contents %}
                      <span class="item-title">{{ item.title }}</span>
                      <ul class="subitems">
                      {% for subitem in item.contents %}
                        <li><span class="subitem">{{ subitem }}</span></li>
                      {% endfor %}
                      </ul>
                    {% else %}
                      <span class="item">{{ item }}</span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if content.linkitems %}
              <div class="container-links ml-1 ml-md-4">
              {% for item in content.linkitems %}
                  {% if item.link %}
                    <div class="container-link-button">
                      {% if item.linkname %}
                        <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">{{ item.linkname}}</a>
                      {% else %}
                        <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">doc</a>
                      {% endif %}
                    </div>
                  {% endif %}
              {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
