---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


  <body style = "background-image: url(/images/main/Madison.jpg); background-size: cover; background-attachment: fixed; background-repeat: no-repeat; background-position: top; background-position: fixed;" >

    {% include header.html %}
    <br><br><br> <!-- MZ .navbar-default css settings changed to fixed position, causing upward shift of titles, this line-breaks compensate for that difference -->

<!-- Stuff underneath the nav bar, before container
text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
-->
<div style="float:left;text-align:center; position: absolute;bottom: 5px;">
      <p style="line-height: 1.5;font-size:110%;color:#fff; opacity: 1;
      text-shadow:
            -1px -1px 10px #000,
            1px -1px 10px #000,
            -1px 1px 10px #000,
            1px 1px 10px #000;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neglected Infectious Disease Lab</p>
  <p style="line-height: 0.75;font-size:92%;color:#fff;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Department of Pathobiological Sciences </p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/UWlogos/UWlogo0.png" width= 255px alt="" style="opacity:0.9;"> <br>
</div>



<div style="float:right;text-align:right; position: absolute;bottom: 5px; right: 10px">

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/UWlogos/UW_SVMb.png" width= 220px alt="" style="opacity:0.9;">
</div>


</div>
    <div style="float:right; color: black; width: 400px; height: 300px; overflow: hidden; margin-left: 5%; overflow:scroll; padding-top: 20px; line-height: 1.75; border-radius: 10px; background-color: rgba(255,255,255,0.9); border-style: solid; border-width: 2px; border-color: white; margin: 0 auto; margin-right: 2%">

            <h2 style="font-size: 100%; color:black; line-height:0; padding-bottom: 0; margin-top: 0px; margin-bottom: 0px; text-align: center"><b> Lab News </b> </h2>
            <ul style = "font-size: 85%; text-align: left; margin: 0; padding-left: 4%;">
              <br>

            <code>Feb 2019</code>&nbsp; The lab is excited to share our latest work at the upcoming <a href="https://www.elsevier.com/events/conferences/molecular-helminthology-an-integrated-approach">Molecular Helminthology</a> and <a href="http://www.waavp2019.com/">WAAVP 2019 meetings. </br>

            <code>Oct 2018</code>&nbsp; Large-scale helminth genomics effort appears in  <a href="https://www.nature.com/articles/s41588-018-0262-1">Nature Genetics</a>. Our lab contributed primary analyses of potentially druggable GPCRs and ion channels.</br>

            <code>Sep 2018</code>&nbsp; New  <a href="https://www.biorxiv.org/content/early/2018/09/26/427229">preprint</a> with Bartholomay & Kimber labs on chemosensation in filarial parasites.</br>

			      <code>Sep 2018</code>&nbsp; Kendra joins the lab as a CBMS PhD student. Abdi, Gabi, and Nick join us as undergrad researchers.</br>

            <code>Sep 2018</code>&nbsp; Collaboration on the Bge cell line is <a href="https://parasitesandvectors.biomedcentral.com/articles/10.1186/s13071-018-3059-2">published</a>.</br>

            <code>Aug 2018</code>&nbsp; Nic presents at the <a href="http://www.vppcb.fiocruz.br/symposium-schisto/"><em>15th International Symposium on Schistosomiasis</em></a> in Rio de Janeiro</br>

            <code>Jul 2018</code>&nbsp; Zach joins the lab as a research intern!</br>

            <code>Jul 2018</code>&nbsp; Paul Airs joins the lab as a Postdoc!</br>

            <code>May 2018</code>&nbsp; Kathy Vaccaro joins the lab as a Research Specialist!</br>

            <code>Apr 2018</code>&nbsp; Paper on stage and sex-specific differences in Brugia exosome cargo in press at <a href="http://journals.plos.org/plosntds/article?id=10.1371/journal.pntd.0006438"><em>PLoS NTD</em></a></br>

            <code>Apr 2018</code>&nbsp; Benzimidazole paper appears in <a href="http://journals.plos.org/plosntds/article?id=10.1371/journal.pntd.0006368"><em>PLoS NTD</em></a></br>

            <code>Dec 2017</code>&nbsp; Lab contributes to BioRxiv <a href="https://www.biorxiv.org/content/early/2017/12/20/236539/">preprint</a> on comparative genomics of major helminths</br>

            <code>Oct 2017</code>&nbsp; BioRxiv <a href="https://www.biorxiv.org/content/early/2017/10/31/116970/">preprint</a> on the discovery of genetic loci underlying benzimidazole resistance</br>

            <code>Oct 2017</code>&nbsp; Lab receives funding from <a href="http://www.ncvetp.org">NCVP</a> / <a href="https://www.heartwormsociety.org/">AHS</a> </br>

            <code>Aug 2017</code>&nbsp; Alexis joins the lab as an Honorary Research Fellow</br>

            <code>Aug 2017</code>&nbsp; Contribution to <a href="https://www.nature.com/articles/s41467-017-00386-x"><em>Nature Communications</em></a> paper on the genetics of a phoretic behavior</br>

            <code>Jul 2017</code>&nbsp; Divyaa starts PhD program at Florida State University</br>

            <code>May 2017</code>&nbsp; Nic joins the lab as a Merck KGaA Postdoc Fellow</br>

            <code>May 2017</code>&nbsp; Justice joins the lab as an Undergrad Lab Assistant</br>

            <code>Apr 2017</code>&nbsp; Mostafa joins editorial board of <a href="https://www.journals.elsevier.com/molecular-and-biochemical-parasitology"><em>Molecular and Biochemical Parasitology</em></a></br>

            <code>Mar 2017</code>&nbsp; Lab receives NIH/NIAID K22 Phase II Award</br>

            <code>Feb 2017</code>&nbsp; Divyaa joins the lab as a joint Research Intern</br>

            <code>Feb 2017</code>&nbsp; Eric joins as an Undergraduate Researcher</br>

            <code>Feb 2017</code>&nbsp; Troy joins the lab as a Research Specialist</br>

            <code>Jan 2017</code>&nbsp; The lab officially opens!</br>

            </ul>

    </div>




    <div class="container">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    <!-- {% include footer_frontpage.html %} -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
 {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>
