---
layout: compress
--- 

<!DOCTYPE html>
<html>

  {% include head.html %}
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
  <body>

    {% include header.html %}
    <!--<br><br><br><br>  MZ .navbar-default css settings changed to fixed position, causing upward shift of titles, this line-breaks compensate for that difference -->
    <div class="container">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
 {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>
