---
layout: compress
--- 

<!DOCTYPE html>
<html>

  {% include head.html %}
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  

  <body style = "background-image: url(/images/main/Madison.jpg); background-size: cover; background-attachment: fixed; background-repeat: no-repeat; background-position: top; background-position: fixed;" >

    {% include header.html %}
    <br><br><br> <!-- MZ .navbar-default css settings changed to fixed position, causing upward shift of titles, this line-breaks compensate for that difference -->

<!-- Stuff underneath the nav bar, before container 
text-shadow:
            -1px -1px 0 #fff,  
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
-->
<div style="float:left;text-align:center; position: absolute;bottom: 5px;">
      <p style="line-height: 1.5;font-size:110%;color:#fff; opacity: 1;
      text-shadow:
            -1px -1px 10px #000,  
            1px -1px 10px #000,
            -1px 1px 10px #000,
            1px 1px 10px #000;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neglected Infectious Disease Lab</p>
  <p style="line-height: 0.25;font-size:92%;color:#fff;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Department of Pathobiological Sciences </p> 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/UWlogos/UWlogo0.png" width= 255px alt="" style="opacity:0.9;"> 
</div>


</div>
    <div style="float:right; color: black; width: 400px; height: 300px; overflow: hidden; margin-left: 5%; overflow:scroll; padding-top: 20px; line-height: 2; border-radius: 10px; background-color: rgba(255,255,255,0.9); border-style: solid; border-width: 2px; border-color: white; margin: 0 auto;">
        
            <h2 style="font-size: 100%; color:black; line-height:0; padding-bottom: 0; margin-top: 0px; margin-bottom: 0px; text-align: center"><b> Lab News </b> </h2>
            <ul style = "font-size: 85%; text-align: left; margin: 0; padding-left: 4%;">
              <br>

            <code>Oct 2017</code>&nbsp; <a href="https://www.biorxiv.org/content/early/2017/10/31/116970/">BioRxiv preprint</a> on the discovery of new genetic loci underlying benzimidazole resistance</br>

            <code>Oct 2017</code>&nbsp; Lab receives funding from <a href="http://www.ncvetp.org">NCVP</a> / <a href="https://www.heartwormsociety.org/">AHS</a> to study <em>D. immitis</em> receptors</br>

            <code>Aug 2017</code>&nbsp; Alexis joins the lab as an Honorary Research Fellow</br>

            <code>Aug 2017</code>&nbsp; Contribution to <a href="https://www.nature.com/articles/s41467-017-00386-x"><em>Nature Communications</em></a> paper on the genetics of a phoretic behavior</br>
          
            <code>Jul 2017</code>&nbsp; Bethani joins the lab as an MS student</br>

            <code>Jul 2017</code>&nbsp; Divyaa starts PhD program at Florida State University</br>

            <code>May 2017</code>&nbsp; Nic joins the lab as a Merck Postdoc Fellow</br>

            <code>May 2017</code>&nbsp; Justice joins the lab as an Undergrad Lab Assistant</br>

            <code>Mar 2017</code>&nbsp; Lab receives NIH/NIAID K22 Phase II Award</br>

            <code>Feb 2017</code>&nbsp; Divyaa joins the lab as a joint Research Intern</br>

            <code>Feb 2017</code>&nbsp; Eric joins as an Undergraduate Researcher</br>

            <code>Feb 2017</code>&nbsp; Troy joins the lab as a Research Specialist</br>

            <code>Jan 2017</code>&nbsp; The lab officially opens!</br>
          
            </ul>

    </div>




    <div class="container">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    <!-- {% include footer_frontpage.html %} -->
    

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
 {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>
