---
layout: default
---
<div class="post">
  <article>
    <div class="people">
      {% for entry in site.data.people %}
        <a class="anchor" id="{{ entry.title }}"></a>
        <div class="card mt-3 p-3">
          {% if entry.title %}
            <h3 class="card-title font-weight-medium" style="font-size: 80%;">{{ entry.title }}</h3>
          {% endif %}
          <div>
          {% if entry.type == "list" %}
            {% include people/list.html %}
          {% elsif entry.type == "map" %}
            {% include people/map.html %}
          {% elsif entry.type == "nested_list" %}
            {% include people/nested_list.html %}
          {% elsif entry.type == "time_table" %}
            {% include people/time_table.html %}
          {% elsif entry.type == "list_groups" %}
            {% include people/list_groups.html %}
          {% else %}
            {{ entry.contents }}
          {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </article>
</div>
